
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/CSS/AdminCss/AdminCss.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body>
    <div> 
        <table style="width:100%">
            <tr>
                <td>
                    <table style="width:100%">
                        <tr>
                            <td colspan="2"></td>
                        </tr>
                        <tr style="height:5px">
                            <td colspan="2" style="background-color:gray"></td>
                        </tr>

                        <tr style="height:25px">
                            <td colspan="2" style="background-color:gray;">
                                <table>
                                    <tr>
                                        <td style="text-align:center;  width:100px;">
                                            <a href="@Url.Action("AdminHome","Admin")">Home</a>
                                        </td>
                                        <td style="text-align:center; width:100px;">
                                           <a href="@Url.Action("AdminLogin","Admin")">Login</a>
                                        </td>

                                        <td style="text-align:center; width:100px;">
                                            <a href="@Url.Action("AdminAboutUs","Admin")">About Us</a>
                                        </td>
                                        <td style="text-align:center; width:100px;">
                                            <a href="@Url.Action("AdminHelp","Admin")">Help</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align:left; font-family:'AR HERMANN'; font-size:60px; color:deeppink; ">
                                Bhukkhad
                            </td>
                            <td style="width:200px; height:100px; vertical-align:bottom; ">

                                <img src="~/images/AdminImage/eI87lT.jpg" width="200" height="100"/>
                            </td>
                        </tr>
                        <tr style="height:5px">
                            <td colspan="2" style="background-color:deeppink;"></td>
                        </tr>
                        <tr style="height:5px;background-color:deeppink; ">
                            <td colspan="2">
                                <table cellpadding="0" cellspacing="0" border="0" style="width:100%">
                                    <tr>
                                        <td style="color:white;  text-align:left; font-family :'Arial Rounded MT';">
                                            Contact us on +91 9879268655 or PatniAmit@yahoo.com
                                        </td>
                                        <td style="text-align:right; width:200px; font-family:'AR HERMANN';  ">
                                            <a href="@Url.Action("EaterBookme", "Eater")" style="color:yellow;">Book Me</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                        </tr>

                        <tr>
                            <td colspan="2">
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <div>
                                                @RenderBody() @*==>	Renders the content of child view in layout pages.*@
                                                @RenderSection("myValidation",false)
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
