@model IEnumerable<Bhukkhad.Models.BookingMaster>


<table class="text" style="font-size:15px; border-width:0px;" cellpadding="5" cellspacing="10" border="1">
    <thead>
        <tr style="color:red;">
            <th width="50px">BookId</th>
            <th width="50px">Name</th>
            <th width="50px">EAddress</th>
            <th width="50px">EDate</th>
            <th width="50px">ECallTime</th>
            <th width="50px">CName</th>
            <th width="50px">CPhone</th>
            <th width="50px">Email</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count()==0)
        {
            <tr>
                <td colspan="8">
                    No rows found....
                </td>
            </tr>
        }
        else
        {
            foreach(var booking in Model)
            {
                <tr style="color:green;">
                    <td>@booking.BookId</td>
                    <td>@booking.Name</td>
                    <td>@booking.EAddress</td>
                    <td>@booking.EDate</td>
                    <td>@booking.ECallTime</td>
                    <td>@booking.CName</td>
                    <td>@booking.CPhone</td>
                    <td>@booking.Email</td>
                </tr>
            }
        }
    </tbody>
</table>
