
@{
    ViewBag.Title = "Bhukkad-EaterChangePassword";
    Layout = "~/Views/Shared/_EaterLayout.cshtml";
}


<script type="text/javascript">
    $(function () {
        $('input[type=text]').blur(function (e) {
            this.style.background = "white";
        });
    });
    $(function () {
        $('input[type=text]').focus(function (e) {
            this.style.background = "greenyellow";
        });
    });

    $(function () {
        $('input[type=password]').blur(function (e) {
            this.style.background = "white";
        });
    });
    $(function () {
        $('input[type=password]').focus(function (e) {
            this.style.background = "greenyellow";
        });
    });

    $(function () {
        $("input[type=text]").first().focus();
    });
</script>


@using (Html.BeginForm("EaterChangePassword", "Eater", FormMethod.Post, new { id = "CPVal" }))
{
<table style="width:100%;">

    <tr>
        <td style="text-align:right;">
            <table style="width:40%; color:orangered; border-color:greenyellow; border-style:solid; border-width:thick;">
                <tr>
                    <td style="text-align:center; background-color:greenyellow; color:White; font-size:30px; line-height:40px;">
                        Change Password
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <div>
                            @Html.TextBox("Email", "", new {Placeholder = "Enter EmailId" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <div>
                            @Html.Password("Password","",new { Placeholder = "Enter Old Password "})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <div>
                            @Html.Password("NPassword", "", new { Placeholder = "Enter New Password " })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <div>
                            @Html.Password("CPassword", "", new { Placeholder = "Enter Confirm Password " })
                        </div>
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <input type="button" id="submit" value="Submit" style="color:green; font-size:10px; width:70px;" />
                        &nbsp;&nbsp;
                        <input id="btnReset" type="button" value="Reset" style="color:green; font-size:10px; width:70px;" onclick="this.form.reset(); return true;" />
                    </td>
                </tr>
                <tr style="height:30px;">
                    <td></td>
                </tr>

                <tr style="background-color:greenyellow; text-align:center;">
                    <td>
                        <label id="ErrMsg" style="color:white; text-align:center; font-family:'Arial Rounded MT';"></label>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
}

@section cpValidation
{

    <script type="text/javascript">
            //following is called jquery validation plugin
        $(document).ready(function () {
            $("#submit").click(function () {
                if ($("#CPVal").valid()) {
                    $('#ErrMsg').text('');
                    $.ajax({
                        datatype: 'json',
                        type: 'post',
                        data: { Email: $("#Email").val(), Password: $("#Password").val(), NPassword:$("#NPassword").val() },
                        url: '@Url.Action("CheckLoginJson", "Eater")',
                        success: function (res) {
                            if (res.toString() == "Success") {
                                window.location.href = '@Url.Action("EaterLogin", "Eater")';
                            }
                            else {
                                $('#ErrMsg').text(res.toString());
                            }
                        },
                        error: function (res) {
                            $('#ErrMsg').text(res.toString());
                        }
                    });
                }
            });

            $("#CPVal").validate({
                rules: {
                    Email:{
                        required:true
                    },
                    Password:{
                        required:true
                    },
                    NPassword: {
                        required: true,
                    },
                    CPassword: {
                        required: true,
                        equalTo: "#NPassword"
                    }
                },
                messages: {
                    Email: {
                        required: 'Please Enter Email-Id',
                        focus() { }
                    },
                    Password:{
                        required: 'Please Enter Password',
                        focus() { }
                    },
                    NPassword: {
                        required: 'Please Enter New Password',
                        focus() { }
                    },
                    CPassword: {
                        required: 'Please Enter Confirm Password',
                        equalTo: "Password and Confirm Password do not match",
                        focus() { }
                    }
                },
                errorPlacement:function(error,element){
                    error.insertAfter(element.parent());
                }
            })

        });

    </script>

}


